*{
	margin: 0;
	padding: 0;

}

html{
	font-size: 62.5%;
	font-family:Poppins, sans-serif;
}

body{
	overflow-x: hidden;
	background-color: #1F1D36;
}

.cnt__header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: blueviolet;
	position: fixed;   
	width: 100%;  
	top: 0rem;
	z-index: 99999;
}

.Logo{
	font-size: 4rem;
	color: white;
}
.hmb__menu{
	display: none;
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.hmb__menu:focus{
	outline: none;
}

ul{
	display: flex;
	font-size: 2.1rem;
	list-style: none;
}

/* ________________________ */

.cnt__main{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 15rem;
}

select{
	width: 25%;
	padding: 6px;
}

form{
	display: flex;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
}

.fuel{
	color: white;
	font-size: 2rem;
	font-weight: 600;
}
.select__x{
	color: mistyrose;
	font-size: 2rem;
	font-weight: 600;
}

.reserve{
	color: white;
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 5rem;
}

.button{
	border: none;
	border-radius: 0.6rem;
	padding: 1.8rem 2.8rem;
	font-size: 2rem;
	background-color: blueviolet;
	color: white;
	margin-top: 5rem;
	transition: transform 330ms ease-in-out;
}
.button:hover{
	background-color: white;
	color: black;
	transform: scale(1.1);
}

/* ________________________ */


.link{
	color: white;
	text-decoration: none;
	padding: 0 3rem;
}

.link:hover{
	color: #E9A6A6;
}
.link__logo{
	color: white;
	text-decoration: none;
}

.about__title{
	font-size: 2.5rem;
	font-weight: 500;
	color: white;
}

.cnt__footer .footer__content{
	display: flex;
	justify-content: space-evenly;
	margin: 8rem 0rem;
}

.about__links{
	display: flex;
	flex-direction: column;
	list-style: none;
	color: white;
}

.about__links a, .copyright{
	color: white;
	font-size: 1.7rem;
	font-weight: 200;
	list-style: none;
	text-decoration: none;
	justify-content: center;
}

.about__links a:hover{
	color: thistle;
}

.AboutUs{
	display: flex;
	flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
	html{
		font-size: 55%;
	}
	.cnt__main{
		overflow-x: hidden;
	}
	select{
		width: 40%;
		margin: 0 auto;
	}
	.hmb__menu{
		display: block;
		width: 100%;
	}

	.my__nav{
		display: none;
	}

	.my__nav.show{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 100%;
		right: 0%;
		background-color: blueviolet;
	}
}

@media(max-width: 630px){
	form{
		display: flex;
		flex-direction: column;
	}
	.footer__content{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	
}